body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 20px;
    background-image: url(https://t4.ftcdn.net/jpg/05/29/86/33/360_F_529863341_cxKCD4AdKCnQUSLxIRENxFfKSF1zjkVy.jpg);
}

.container {
    max-width: 400px;
    margin: auto;
    background: grey;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #28a745;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

#qrcode {
    margin-top: 20px;
}
